/* font-family: "Montserrat", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #0f0f0f;
  --secondary-color: #5c61f2;
  --hover-color: #4f55fa;
  --text-color: #898989;
  --border-color: #ddd;
  --white-color: #fff;
  --red-color: #c00;
  --bg-color: #f9f9f9;
}

body {
  background: #f9f9f9;
  font-family: "Montserrat", sans-serif !important;
}

body :where(h1, h2, h3, h4, h5, h6, p) {
  margin: 0;
  padding: 0;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 100px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* scroll bar end */

th,
td {
  font-family: "Montserrat", sans-serif !important;
}

body a,
body button {
  text-decoration: none;
  transition: all linear 0.1s;
  border: 0;
}

body :where(ul, ol, li) {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.gap__layout {
  display: flex;
  gap: 30px;
}

.MuiDrawer-modal {
  position: unset;
}

.MuiDrawer-modal .MuiBackdrop-root {
  background-color: unset;
  width: 0;
}

.MuiDrawer-modal .MuiPaper-root {
  width: 350px;
}

.MuiBox-root {
  width: 100% !important;
}

.MuiDrawer-root {
  width: 0;
}

.main__section {
  /* margin-top: 100px;
  margin-left: 230px;
  margin-right: 20px; */
  width: 100%;
  margin-right: 30px;
  margin-top: 90px;
}

.d_flex {
  display: flex;
  align-items: center;
}

.d_center {
  justify-content: center;
}

.d_justify {
  justify-content: space-between;
}

/* Common Tags Fost Size */

h2 {
  font-size: 35px;
  line-height: 45px;
  color: var(--text-color);
  font-weight: 600;
  text-transform: capitalize;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color);
  margin-top: 10px;
}

.bg__btn.MuiButtonBase-root {
  font-size: 14px;
  line-height: 20px;
  color: var(--white-color);
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 6px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
  cursor: pointer;
  transition: all linear 0.2s;
}

.bg__btn.MuiButtonBase-root:hover {
  background: var(--hover-color);
}

/* Common input */
.custom__input .MuiInputBase-input {
  width: 100%;
  border-radius: 10px;
  height: 50px;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  box-sizing: border-box;
}

.custom__input .MuiTextField-root {
  width: 100%;
}

.custom__input .MuiOutlinedInput-notchedOutline {
  border-radius: 10px;
}

.custom__input .Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #26bf8c;
}

.custom__input.red .MuiOutlinedInput-notchedOutline {
  border-color: var(--red-color);
}

.custom__input .MuiFormLabel-root {
  font-size: 14px;
  line-height: 20px;
  z-index: 99;
  /* background: #fff; */
  /* padding: 0px 5px; */
}

/* -----------------------------------------------------------
Start menubar
-----------------------------------------------------------*/

.menubar {
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.12);
  padding: 10px 0;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--white-color);
  box-sizing: border-box;
}

.menubar .MuiContainer-root {
  max-width: 100%;
}

.menubar .bars {
  cursor: pointer;
}

.menubar .bars svg {
  width: 30px;
  height: auto;
}

.menubar .logo svg {
  width: 100px;
  height: auto;
}

.menubar__left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menubar .menubar__right {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.menubar .notification {
  position: relative;
}

.menubar .notification span {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f0f0f0;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border: 1px solid #ddd;
}

.menubar .menubar__right img {
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.profile__dropdown ul {
  margin: 0;
  padding: 0;
  width: 250px;
}

.profile__dropdown li {
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 20px;
}

.profile__dropdown li:last-child {
  border-bottom: 0;
}

.profile__dropdown .MuiPaper-root {
  border-radius: 10px;
}

.profile__dropdown .profile__flex {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

.profile__dropdown .profile__flex img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.profile__dropdown .profile__flex p {
  margin-top: 0;
}

/* -----------------------------------------------------------
End menubar
-----------------------------------------------------------*/

/* -----------------------------------------------------------
Start sidebar
-----------------------------------------------------------*/
.sidebar {
  width: 220px;
  height: 100vh;
  position: relative;
  top: 65px;
  left: 0;
  z-index: 9;
  transition: all linear 0.2s;
  overflow: hidden;
  box-sizing: border-box;
}

.sidebar button {
  min-width: unset;
  padding: 0;
  margin: 0;
  width: 100%;
}

.short__sidebar {
  width: 60px;
}

.short__sidebar .side__menu {
  width: 60px;
}

/* .side__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
} */

.side__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 65px);
  box-sizing: border-box;
  position: fixed;
  top: 65px;
  left: 0;
  width: 190px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.12);
}

.side__menu ul {
  margin-top: 20px;
}

.side__menu li {
  /* margin-bottom: 10px; */
}

.side__menu a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-color);
  font-weight: 300;
  padding: 10px 20px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.side__menu a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: var(--red-color);
  opacity: 0;
}

.side__menu a.active {
  background: var(--bg-color);
  font-weight: 500;
  color: var(--red-color);
}

.side__menu a.active::before {
  opacity: 1;
}

.side__menu a.active path {
  fill: var(--red-color);
}

.side__menu .short__menu a span {
  display: none;
}

.short__sidebar a {
  padding: 10px;
  padding-left: 12px;
  justify-content: center;
}

.side__menu__first {
  height: calc(100% - 15%);
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: 0;
  background: #fff;
  z-index: 9;
}

.side__menu__last {
  height: 13%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* -----------------------------------------------------------
End sidebar
-----------------------------------------------------------*/

/* -----------------------------------------------------------
Start login
-----------------------------------------------------------*/

.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.login__box {
  width: 400px;
  border-radius: 20px;
  padding: 50px;
  background: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}

.login__box h2 {
  font-size: 25px;
  line-height: 35px;
  font-weight: 700;
  color: var(--primary-color);
}

.login .login__form .custom__input {
  margin-top: 25px;
}

.login .login__form .login__pass {
  position: relative;
}

.login .login__form .login__pass .eye {
  position: absolute;
  top: 12px;
  right: 15px;
  cursor: pointer;
}

.login .login__form .remember__pass {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.login .login__form .remember__pass a {
  color: var(--secondary-color);
}

.login .login__form button {
  margin-top: 20px;
  background: #5c61f2;
  padding: 10px 30px;
  border-radius: 30px;
  color: var(--white-color);
  width: 100%;
}

/* Sign__in__with */

.Sign__in__with h6 {
  position: relative;
  margin: 20px 0;
}

.Sign__in__with h6 span {
  background: var(--white-color);
  position: relative;
  z-index: 1;
  padding: 0 20px;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
  font-weight: 600;
}

.Sign__in__with h6 .bdr {
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ddd;
}

.Sign__in__with .social__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Sign__in__with .social__icon a {
  color: var(--secondary-color);
}

.Sign__in__with .dont__acc {
  margin-top: 20px;
}

.Sign__in__with .dont__acc a {
  color: var(--secondary-color);
}

/* -----------------------------------------------------------
End login
-----------------------------------------------------------*/

/* -----------------------------------------------------------
Start common__table
-----------------------------------------------------------*/

.common__table {
  margin-top: 30px;
}

.common__table .table__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.common__table .table__header .search {
  width: 20%;
  position: relative;
}

.common__table .table__header .search input {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  width: 100%;
  box-sizing: border-box;
}

.common__table .table__header .search button {
  position: absolute;
  top: 0;
  right: 1px;
  background: var(--secondary-color);
  color: var(--white-color);
  border-radius: 0 5px 5px 0;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.common__table .table__header .search button svg {
  font-size: 20px;
}

.common__table .table__header .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.common__table a {
  color: var(--secondary-color);
}

.common__table h6 {
  padding: 3px 15px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.43;
  font-weight: 400;
}

.common__table h6.send {
  color: #26bf8c;
  border: 1px solid #26bf8c;
}

.common__table h6.panding {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.common__table .table__action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.table__action a {
  border: 1px solid var(--secondary-color);
  width: 40px;
  height: 30px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.table__action a svg {
  font-size: 20px;
}

.table__action a:nth-child(2) {
  border: 1px solid #26bf8c;
  color: #26bf8c;
}

.table__action a:nth-child(3) {
  border: 1px solid var(--red-color);
  color: var(--red-color);
}

.table__filter {
  padding: 30px 20px;
}

.table__filter .header {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}

.table__filter .header .close {
  cursor: pointer;
  color: var(--red-color);
  line-height: 0;
}

.table__form .custom__input {
  margin-top: 20px;
}

/* pagination__part */
.pagination__part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.pagination__part .rows__per__page {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pagination__part h6 {
  border: none;
  padding: 0;
}

.pagination__part .rows__per__page select {
  padding: 5px 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.pagination__part .pagination__item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.pagination__part .pagination__item button {
  padding: 5px 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: var(--text-color);
}

.pagination__part .pagination__item button svg {
  font-size: 20px;
}

.duel__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 30px;
}

.duel__button button {
  width: 100%;
}

.duel__button button:nth-child(2) {
  background: var(--red-color);
  border: 1px solid var(--red-color);
}

/* -----------------------------------------------------------
End common__table
-----------------------------------------------------------*/

/* -----------------------------------------------------------
Start 
-----------------------------------------------------------*/

/* -----------------------------------------------------------
End 
-----------------------------------------------------------*/

/* -----------------------------------------------------------
Start 
-----------------------------------------------------------*/

/* -----------------------------------------------------------
End 
-----------------------------------------------------------*/

/* -----------------------------------------------------------
Start 
-----------------------------------------------------------*/

/* -----------------------------------------------------------
End 
-----------------------------------------------------------*/

/* -----------------------------------------------------------
Start 
-----------------------------------------------------------*/

/* -----------------------------------------------------------
End 
-----------------------------------------------------------*/

/* -----------------------------------------------------------
Start 
-----------------------------------------------------------*/

/* -----------------------------------------------------------
End 
-----------------------------------------------------------*/

/* -----------------------------------------------------------
Start 
-----------------------------------------------------------*/

/* -----------------------------------------------------------
End 
-----------------------------------------------------------*/
